:root {
    --blue: #e5effd;
    --green-pale: rgba(103, 178, 121, 0.1);
    --red: rgba(223, 56, 18, 0.05);
    --white: #fff;
    --yellow: rgba(247, 181, 0, 0.1);
    --size-date: 70;
    --size-domain: 180;
    --size-response: 150;
    --size-client: 123;
    --gray: rgba(216, 216, 216, 0.23);
    --gray-4d: #4D4D4D;
    --gray-8: #888;
    --danger: #DF3812;
    --white80: rgba(255, 255, 255, 0.8);
}

/* todo remove unused styles */
.logs__text {
    padding: 0 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
    color: var(--gray-4d);
    letter-spacing: 0;
    line-height: 1.5rem;
}

.logs__text--bold {
    font-weight: bold;
}

.button__action {
    background-color: var(--white);
    border-radius: 4px;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    visibility: hidden;
    opacity: 0;
}

.logs__action {
    position: absolute;
    top: 0;
    right: 1rem;
}

.logs__time {
    font-size: 1rem;
    line-height: 1.5;
}

.detailed-info {
    font-size: 0.8rem;
    line-height: 1.4;
    color: #888888;
}

.icon--selected {
    background-color: var(--gray-f3);
    border: solid 1px var(--gray-d8);
    border-radius: 4px;
}

.text-pre {
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    overflow: visible;
}

.link--green {
    color: var(--green79);
}

.w-90 {
    max-width: 90% !important;
}

.pb-45 {
    padding-bottom: 1.25rem !important;
}

.mh-100 {
    max-height: 100% !important;
}

.cursor--pointer {
    cursor: pointer;
}

.custom-select__arrow--left {
    background: var(--white) url('../ui/svg/chevron-down.svg') no-repeat;
    background-position: 5px 9px;
    background-size: 22px;
}

.custom-select--logs {
    padding: 0.5rem 0.75rem 0.5rem 2rem !important;
}

.bg--danger {
    color: var(--danger);
}

.form-control--search {
    box-shadow: 0 1px 0 #ddd;
    padding: 0 2.5rem;
    height: 2.25rem;
    flex-grow: 1;
}

.form-control--transparent {
    border: 0 solid transparent !important;
    background-color: transparent !important;
}

.input-group-search {
    background-color: transparent;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.4rem;
}

.input-group-search__icon--magnifier {
    left: 2rem;
}

.input-group-search__icon--cross {
    left: -4.5rem;
    cursor: pointer;
}

.input-group-search__icon--tooltip {
    left: -4rem;
}

.form-control--container {
    flex: auto;
}

.field__search {
    display: flex;
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .form-control--container {
        width: 100%;
        flex-direction: column;
    }

    .form-control--search {
        width: 100%;
    }

    .field__select {
        margin-top: 1.5rem;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767.98px) {
    .logs__table .logs__cell--response,
    .logs__table .logs__cell--client {
        display: none !important;
    }
}

@media (max-width: 575px) {
    /* todo make the same styles */
    .logs__table .rt-tr {
        height: 3.125rem;
    }

    .logs__table .rt-tbody .rt-td {
        padding: 0.625rem 1rem 0.875rem 0;
    }

    .logs__table {
        min-height: 42rem;
    }
}

.logs__refresh {
    --size: 2.5rem;
    position: relative;
    top: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    padding: 0;
    margin-left: 0.9375rem;
    background-color: transparent;
}

.logs__cell {
    padding: 1rem 1rem 0.5rem 0;
}

.logs__cell--date {
    width: 4.375rem;
    flex: var(--size-date) 0 auto;
}

.logs__cell--domain {
    width: 11.25rem;
    flex: var(--size-domain) 0 auto;
}

.logs__cell--response {
    width: 9.375rem;
    flex: var(--size-response) 0 auto;
}

.logs__cell--client {
    width: 7.6875rem;
    flex: var(--size-client) 0 auto;
    padding-right: 0;
}

.logs__cell--header__container > .logs__cell--header__item {
    border-right: 0;
    font-size: 1rem;
}

.logs__cell--header__container > .logs__cell--header__item:last-child {
    padding-right: 0;
}

.logs__row--separation:not(:first-child):before {
    content: "";
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    top: 0;
    width: calc(100% - 3rem);
    height: 2px;
    background-color: var(--gray);
}

.logs__cell--block-button {
    position: absolute;
    top: 20%;
    right: 1rem;
}

.logs__cell--detailed .logs__cell--block-button {
    position: absolute;
    top: 40%;
    right: 1rem;
}

.logs__table .logs__row:hover .logs__cell--block-button {
    visibility: visible;
    opacity: 1;
}

/* QUERY_STATUS_COLORS */
.logs__row--blue {
    background-color: var(--blue);
}

.logs__row--green {
    background-color: var(--green-pale);
}

.logs__row--red {
    background-color: var(--red);
}

.logs__row--white {
    background-color: var(--white);
}

.logs__row--yellow {
    background-color: var(--yellow);
}

.logs__no-data {
    color: var(--gray-4d);
    background-color: var(--white80);
    pointer-events: none;
    font-weight: bold;
    text-align: center;
    padding-top: 21rem;
}

.logs__loading {
    background-color: var(--white80);
    display: block;
    transition: all .3s ease;
    height: 100%;
}

.logs__table {
    background-color: var(--white);
    border: 0;
    border-radius: 8px;
    min-height: 42rem;
    max-height: 95vh;
    max-width: 100%;
    flex: auto 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto
}

.logs__table .logs__cell--response,
.logs__table .logs__cell--client {
    display: flex;
}

.logs__cell--header__container {
    display: flex;
}

.logs__table .logs__cell--header__container > .logs__cell--client {
    display: flex;
    justify-content: space-between;
}
